
@keyframes scan {
  0% { transform: translateY(0); }
  50% { transform: translateY(224px); }
  100% { transform: translateY(0); }
}
.animate-scan {
  animation: scan 3s infinite;
}
.hue-range {
  background: linear-gradient(
    to right,
    red, orange, yellow, green, cyan, blue, violet
  );
}
